

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: rgb(104, 243, 66);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
    
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    
  }
  nav li :hover{
    color: black;
  }
  
  header {
    background-color: #eee;
    text-align:left;
    padding: 100px;
    padding-left: 20px;

  }



  .image-container {
    float: right;
    padding: 20px 0 80px 20px;

  }
  
  img {
    display: block;
    width: 200px; /* specify the width of the image */
    height: 200px; /* specify the height of the image */
  }
  
  
  
  header h1 {
    margin: 0;
    font-size: 48px;
  }
  
  header p {
    font-size: 18px;
    margin: 15px 0;
  }
  
  button {
    background-color: rgb(24, 22, 22);
    color: #fff;
  border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;


  }

  
  footer {
    background-color: rgb(104, 243, 66);
    color: rgb(9, 9, 9);
    text-align: center;
    position: fixed;
    width: 100%;
  justify-content: center;
  
  }
  

  @media (max-width: 600px) {
  .image-container {
    float: left;
  }
}

@media (min-width: 601px) {
  .image-container {
    float: right;
  }
}
